body {
    background-image: url("../images/background-blur-bright.jpg");
    font-family: 'Turret Road', cursive;
    color: white;
    text-align: center;
}

.jumbotron  {
    background-color: rgba(112, 51, 15, 0.507);
    padding: 100px;
    margin-top: 30px;
    text-align: center;
}

.btn {
    background-color: rgba(255, 166, 0, 0.829);
}

#questionheading{
    font-size: 80px;
    text-emphasis: bold;
}

