body {
    background-image: url("../images/background-blur-bright.jpg");
    font-family: 'Turret Road', cursive;
    color: white;
}

.container-fluid{
    background-color: rgba(112, 51, 15, 0.507);
    padding: 100px;
    width: 80%;
    height: 90%;
    margin-top: 30px;
    left: 140px;
}

#questionheading{
    font-size: 80px;
    text-emphasis: bold;
}

