body {
    background-image: url("../images/background-blur-bright.jpg");
    font-family: 'Turret Road', cursive;
    color: white;
    text-align: center;
}

.jumbotron  {
    background-color: rgba(112, 51, 15, 0.507);
    margin-top: 30px;
    text-align: center;
}

.btn-info {
    background-color: rgba(255, 166, 0, 0.829);
}

button {
    margin-left: 3px;
    margin-right: 3px;
}

#questionheading{
    font-size: 80px;
    text-emphasis: bold;
}

